/* Reset y fuentes */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* main.css o el archivo donde tengas estilos globales */

body, html {
  background-color: #121212; /* fondo oscuro */
  color: #e0e0e0; /* texto claro */
  font-family: 'Roboto', sans-serif; /* ejemplo de fuente */
  margin: 0;
  font-family: 'Montserrat', 'Roboto', sans-serif;
  padding: 0;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}